body {
    font-family: 'Roboto', sans-serif;
    font-weight: 16px;
}

h1 {
    font-size: 38px;
    font-weight: 600;
    word-wrap: break-word;
}

h2 {
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
}

h3 {
    font-size: 18px;
    line-height: 1.35;
    font-weight: 600;
}

.centered {
    text-align: center;
}

.text-paragraph {
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
}

.rounded-button {
    border-radius: 30px;
}

.header-section {
    background:
        linear-gradient(rgba(51, 36, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('CoffeBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 30px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.photo-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
}

.title {
    margin-top: 200px;
    color: #fff;
    font-size: 48px;
    line-height: 1.23;
    font-weight: 600;
    z-index: 10;
}

.sub-title {
    color: #fff;
    font-size: 36px;
    line-height: 1.23;
    font-weight: 600;
    max-width: 300px;
}

.post-trauma-section {
    background-color: #f5f9f5;
}

.text-container {
    margin-left: 50px;
    margin-right: 50px;
}

.post-trauma-text {
    max-width: 50%;
}

.red-point::before,
.green-point::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 8px;

    -webkit-mask: url("check.svg") no-repeat center / contain;
    mask: url("check.svg") no-repeat center / contain;

    background-color: currentColor;
}

.red-point {
    color: #FC0D1BFF;
}

.green-point {
    color: #50B366FF;
}

.bullets-coulumn {
    width: 380px;
}

@media (max-width: 950px) {

    .post-trauma-text {
        max-width: 100%;
    }

    .carousel-item {
        min-height: 800px;
    }
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3e%3cpath d='M11 1 3 8l8 7'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3e%3cpath d='m5 1 8 7-8 7'/%3e%3c/svg%3e");
}

.carousel-indicators [data-bs-target] {
    background-color: #000;
}

.carousel-indicators .active {
    background-color: #000;
}

.carousel-item {
    min-height: 300px;
}


.feedback-text {
    font-style: italic;
    width: 60%;
}