body {
    font-family: 'Roboto', sans-serif;
    font-weight: 16px;
}

h1 {
    font-size: 38px;
    font-weight: 600;
    word-wrap: break-word;
}

h2 {
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
}

.centered {
    text-align: center;
}

.text-paragraph {
    font-size: 18px;
}

.header-section {
    background:
        linear-gradient(rgba(51, 36, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('CoffeBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 30px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.photo-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
}

.title {
    margin-top: 80px;
    color: #fff;
    font-size: 48px;
    line-height: 1.23;
    font-weight: 600;
    z-index: 10;
}

.sub-title {
    color: #fff;
    font-size: 26px;
    line-height: 1.23;
    font-weight: 400;
    max-width: 300px;
}

.post-trauma-section {
    background-color: #f5f9f5;
}

.text-container {
    margin-left: 50px;
    margin-right: 50px;
}

.post-trauma-text {
    max-width: 50%;
}

dragon-bullets {}

.red-point::before,
.green-point::before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 8px;

    -webkit-mask: url("check.svg") no-repeat center / contain;
    mask: url("check.svg") no-repeat center / contain;

    background-color: currentColor;
}

.red-point {
    color: #FC0D1BFF;
}

.green-point {
    color: #50B366FF;
}

@media (max-width: 768px) {
    .title {
        margin-top: 160px;
    }

    .post-trauma-text {
        max-width: 100%;
    }
}