body {
  font-family: 'Roboto', sans-serif;
  font-weight: 16px;
}

.header-section {
    background:
        linear-gradient(rgba(51, 36, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url('CoffeBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 30px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.photo-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
}

.title {
    margin-top: 80px;
    color: #fff;
    font-size: 48px;
    line-height: 1.23;
    font-weight: 600;
    z-index: 10;
}

.sub-title {
    color: #fff;
    font-size: 26px;
    line-height: 1.23;
    font-weight: 400;
    max-width: 300px;
}

.post-trauma-section {
    background-color: #f5f9f5;
}

@media (max-width: 768px) {
    .title {
        margin-top: 160px;
    }
}